.container{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
width: 100vw;   
}
.cont{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 97vw;   
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.text{
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    margin: 10px;
}